{% extends 'hansweb/base.html' %}

{% block content %}
<div class="container" style="padding-top: 16px">
    <row><div class="col s11 center">
        <h3>New order</h3>
    </div></row>
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <form action="" method="post">{% csrf_token %}
        <table>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
        {{ form }}
        {% endfor %}
        {% else %}
        {% for field in wizard.form.visible_fields %}
                <tr>
                    {% if field.name != "pickupAddress" and field.name != "deliveryAddress" %}
                        <th>{{ field.label_tag }}</th>
                        <td>
                            {% if field.name == "isPaid" %}
                                <label>
                                <input type="checkbox" id="{{ form.isPaid }}
                                <span/>
                                </label>
                            {% else %}
                                {{ field.errors }}
                                {{ field }}
                                {{ field.help_text }}
                            {% endif %}

                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        </table>
        <button type="submit" class="save btn btn-default">Save</button>
        </form>
</div>

{% endblock %}