{% extends 'hansweb/base.html' %}

{% block content %}
<div class="container" style="padding-top: 16px">
    <row>
        <div class="col s11 center">
            <h3>{{ order.title }}</h3>
        </div>
        {% if order.client == user %}
        <div class="col s1" style="padding-top:16px">
            <a href="{% url 'order_delete' pk=order.pk %}">
                        <i class="material-icons medium">delete_forever</i>
                    </a>
        </div>
        {% elif order.status == 'waiting' %}
        <div class="col s1" style="padding-top:16px">
            <a class="waves-effect waves-light btn" href="{% url 'order_accept' pk=order.pk %}">Accept</a>
        </div>
        {% endif %}
    </row>

    <div id='map' style='width: 100%; height: 300px;'></div>

    <table>
        <tr>
            <td>Status</td><td>{{ order.status }}</td>
        </tr>
        <tr>
            <td>Posted</td><td>{{ order.created_date }}</td>
        </tr>
        <tr>
            <td>From</td><td>{{ order.pickupAddress }}</td>
        </tr>
        <tr>
            <td>To</td><td>{{ order.deliveryAddress }}</td>
        </tr>
        <tr>
            <td>Description</td><td>{{ order.description }}</td>
        </tr>
        <tr>
            <td>Weight</td><td>{{ order.weight }} kg</td>
        </tr>
        <tr>
            <td>Dimensions</td><td>{{ order.dimensions}}</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                {{ order.price}}
                {% if order.isPaid == True %}
                <p>Order is paid</p>
                {% else %}
                <p>Order is not paid</p>
                {% endif %}
            </td>
        </tr>
    </table>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibmdpZXJzeiIsImEiOiJjanhrb25vZGowM3ppM3lvdTF5dndweDRvIn0.bWhpnTDM-vbSB2p9XD0JPg';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11'
        });
        new mapboxgl.Marker()
            .setLngLat({{ pickup }})
            .addTo(map);
        new mapboxgl.Marker()
            .setLngLat({{ delivery }})
            .addTo(map);

        map.fitBounds([{{ pickup }}, {{ delivery }}]);
    </script>
</div>
{% endblock %}
