{% extends 'hansweb/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="padding-top: 16px">
    <row><div class="col s11 center">
        <h3>New order</h3>
    </div></row>
    <form method="POST" class="order-form">{% csrf_token %}
        <table border="1">
            {% for field in form.visible_fields %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.name == "isPaid" %}
                        <label>
                        <input type="checkbox" id="{{ form.isPaid }}
                        <span/>
                        </label>
                    {% else %}
                        {{ field.errors }}
                        {{ field }}
                        {{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>

{% endblock %}
