{% extends 'hansweb/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="padding-top: 16px">
    <row><div class="col s11 center">
    <h3>New order</h3>
    </div></row>

    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    {% if wizard.steps.step1 == 1 %}
    <div class="col s11 center"><h5 class="center">Pickup address</h5></div>
    {% elif wizard.steps.step1 == 2 %}
    <div class="col s11 center"><h5 class="center">Delivery address</h5></div>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form }}
                {% endfor %}
                {% else %}
                    {{ wizard.form }}
            {% endif %}
        </table>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>

{% endblock %}
